<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBAORD</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<button id="newpost">Create Post</button>
     <!-- Posts Section -->
     <div id="posts">
        <div id="postheading">
          <h2 >Posts</h2>
          <!-- Filter Section -->
          <div id="postcategories">
            <label for="category">Category:</label>
            <select id="category" name="category">
              <option value="">All</option>
              <option value="technology">Technology</option>
              <option value="gaming">Gaming</option>
              <option value="sports">Sports</option>
              <option value="self-care">Self-Care</option>
              <option value="traveling">Traveling</option>
              <option value="food">Food</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>

         <!-- Post List -->
      <div id="postcontainer">

        <ul id="postlist">
            <ul id="postlist">
                {{range .Posts}}
                    {{template "post.html" .}}
                {{end}}
            </ul>
            
        </ul>
      
      
      </div>
    </div>
        <script src="script.js"></script>
</body>
</html>
