body {
    background-image: url(resources/forumbg.jpeg);
    background-size: contain;
}

/* Entire document styling, set to be responsive */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header/nav styling */
header {
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin: 40px;
    border-radius: 5px;
    border: 5px solid #2b2c2c;
    background-color: #adadad; /* Dark slate grey */
    color: white; /* Text color */
}

header a {
    color: #B0C4DE; /* Light steel blue */
    margin: 0 10px;
    text-decoration: none;
}

header p {
    margin: 0;
}

.userposts {
    margin-left: 1800px;
    margin-top: -30px;
    font-size: medium;
}

.welcomelog {
    margin-top: -15px;
    width: fit-content;
    font-size: medium;
}

.loginbtn,
.registerbtn,
.logoutbtn,
.userp,
.newpostbtn {
    color: white;
    background-color: #2b2c2c; /* Steel blue (lighter) */
    padding: 20px;
}

/* Change button color on hover to give interactive feedback */
.loginbtn:hover,
.registerbtn:hover,
.logoutbtn:hover,
.userp:hover,
.newpostbtn:hover {
    background-color: #807c7c; /* Steel blue (lighter) */
}

/* Styling for the checkbox filter section */
#category_form {
    display: flex;
    flex-wrap: wrap;
    background-color: #807c7c;
    width: fit-content;
    right: 50px;
    border-radius: 5px;
    border: 5px solid #2b2c2c;
    padding: 25px;
}

#category_form label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

#category_form input[type="checkbox"] {
    display: flex;
}

#category_form input[type="checkbox"]:checked + label:before {
    background-color: #4682B4; /* Steel blue */
    border-color: #4682B4;
}

#category_form input[type="submit"] {
    background-color: #000000; /* Steel blue */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#category_form input[type="submit"]:hover {
    background-color: #313030; /* Steel blue (lighter) */
}

#category_form a {
    color: #000000; /* Steel blue */
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: 20px;
    margin-left: 10px;
}

#category_form a:hover {
    color: #313030; /* Steel blue (lighter) */
}

/* Post container and elements styling */
#postcontainer {
    margin: 0;
    padding: 20px;
}

#postcontainer h1 {
    color: #ffffff; /* Dark slate grey */
    margin-left: 730px;
}

#postcontainer h3 {
    color: #ffffff;
}

#postcontainer form {
    margin: 20px 0;
}

/* Adjustments for smaller screen, items will stack in a column */
@media screen and (max-width: 600px) {
    #category_form {
        flex-direction: column;
    }

    #category_form label {
        margin: 5px 0;
    }
}

/* Styling for post cards */
.postinfo {
    background-color: #adadad;
    margin: 30px;
    padding: 10px;
    height: 250px;
    width: 200px;
    border-radius: 5px;
    border: 5px solid #2b2c2c; /* Dark slate grey */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* subtle shadow for 'lifted' effect */
    display: flex;
    flex-direction: column;
}

.postdisplay {
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.likesanddislikes {
    display: flex;
    justify-content: left;
    margin-top: auto;
    padding: 15px;
}

.postinfo p {
    margin-top: -85px;
    padding: 15px;
}

.postinfo a {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}

.authorname {
    color: white;
    margin-top: -10px;
}

/* inline forms in the posts display */
.inline-form {
    display: inline-block;
}

.inline-form input[type="submit"] {
    background-color: #727272; /* Steel blue */
    color: white;
    padding: 5px 10px;
    border: none;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inline-form input[type="submit"]:hover {
    background-color: #adadad; /* Steel blue (lighter) */
}

#createbtn {
    color: white;
    font-size: 40px;
    background-color: #2b2c2c; /* Steel blue (lighter) */
    padding: 50px;
    margin: 50px;
    border-radius: 5px;
    border: 5px solid black;
    text-decoration: none;
}

.singlepost {
    background-color: #adadad;
    width: fit-content;
    padding: 150px;
    border-radius: 5px;
    border: 5px solid #2b2c2c;
    margin-left: 1000px;
    margin-top: 200px;
    font-size: 30px;
}

.singlepost h1 {
    margin-top: -20px;
    margin-bottom: -20px;
    text-decoration: underline;
}

.singlepost a {
    color: black;
    font-size: 30px;
}

.singlepost p {
    font-style: italic;
    font-size: 25px;
}

#postcontent {
    margin-top: 100px;
    margin-bottom: -50px;
}

#lp,
#cp {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: -70px;
}

#commentsubmit {
    background-color: #727272;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#commentsubmit:hover {
    background-color: #adadad;
}

#backtoforum {
    color: #ffffff;
    font-size: 35px;
    text-decoration: none;
    margin-inline-start: 100px;
}

.loginpge h1 {
    color: #000000;
    font-size: 80px;
    text-align: center;
}

.loginpge p,
a {
    color: #000000;
    font-size: 70px;
    margin-left: 100px;
}

.loginpge {
    background-color: #adadad;
    width: 900px;
    height: max-content;
    border-radius: 5px;
    border: 5px solid #2b2c2c;
    position: relative;
    margin-left: 1000px;
    margin-top: 400px;
}

.loginbox label {
    font-size: 50px;
    margin-left: 100px;
    margin-top: 100px;
}

.loginbox input {
    height: 50px;
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
}

.loginbox input[type="text"] {
    font-size: 45px;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  
}

.loginbox input[type="password"] {
    font-size: 45px;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  
}


#sub {
    transform: scale(2);
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 100px;
}

#textarea {
    height: 200px;
    width: 500px;
    margin-left: 300px;
}

#cont {
    margin-top: 1000px;
    margin: 100px;
}

.category-container input {
    transform: scale(3);
    height: fit-content;
    width: fit-content;
}

/* Adjustments for smaller screen, items will stack in a column */
@media screen and (max-width: 600px) {
    #category_form {
        flex-direction: column;
    }

    #category_form label {
        margin: 5px 0;
    }

    .loginpge {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .loginbox label {
        font-size: 40px;
        margin-left: 0;
        margin-top: 20px;
    }

    .loginbox input {
        height: 40px;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }

    .loginbox input[type="text"] {
        height: 40px;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        font-size: 40px;
    }


    .loginbox input[type="password"] {
        height: 40px;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        font-size: 40px;
    }

    #sub {
        transform: scale(1);
        font-size: 50px;
        margin-top: 20px;
        margin-left: 0;
    }
}

.singlepost {
    margin-left: auto;
    margin-right: auto;
}

.singlepost p {
    font-size: 20px;
}

.singlepost a {
    font-size: 20px;
}

.singlepost h1 {
    font-size: 40px;
}

.singlepost p,
.singlepost a,
.singlepost h1 {
    text-align: center;
}

.loginpge {
    /* Existing CSS properties */

    /* Add the following properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singlepost {
    /* Existing CSS properties */

    /* Add the following properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

