<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Create a new post</h1>
    <form method="POST" action="/newpost">
        <label for="title">Title:</label>
        <input type="text" name="title" required>
        <br>
        <label for="content">Content:</label>
        <textarea name="content" required></textarea>
        <br>
        
        <label>Categories:</label><br>
        <input type="checkbox" name="category[]" value="gaming">
        <label for="category">Gaming</label><br>
        
        <input type="checkbox" name="category[]" value="technology">
        <label for="category">Technology</label><br>
        
        <input type="checkbox" name="category[]" value="lifestyle">
        <label for="category">Lifestyle</label><br>
        
        <input type="checkbox" name="category[]" value="travel">
        <label for="category">Travel</label><br>

        <input type="checkbox" name="category[]" value="cooking">
        <label for="category">Cooking</label><br>

        <input type="checkbox" name="category[]" value="other">
        <label for="category">Other</label><br>
        
        <br>
        <input type="submit" value="Create post">
    </form>
    <p><a href="/">Back to the forum</a></p>
</body>
</html>
